:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --primaryColor: #bd2d2c;
  --blackColor: #333;
}

* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: var(--blackColor);
  text-decoration: none;
  text-decoration: inherit;
}
a:hover {
  color: var(--primaryColor);
}
li {
  list-style: none;
}

body {
  width: 100%;
  height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6rem 2rem;
  font-size: 1em;
  font-weight: 500;
  background-color: #bd2d2c;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 5px 5px 0 #333;
  transition: all 0.2s ease;
}
button:hover {
  border-color: var(--primaryColor);
  box-shadow: 2px 2px 0 #333;
  background-color: #bd2d2c99;
}
.flex {
  display: flex;
  align-items: center;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

::-webkit-scrollbar {
  display: none;
}
